
body {
    font-family: Arial, sans-serif;
    background-image: url('https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcT2DgyM_gzjEd6ebB4avNE0UKLK_YyntRc9mZD7If-dIAgQ1W4nhRaB1ueyPfGDkEUeu7r5t8jTpDMjR9VJiwpJdwL6V3nhZGCUsAIYWw');
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(232, 231, 231, 0.7);
}
h1 {
    color: #0078D7; /* Blue color representing the Thames river */
    text-align: center;
    margin-bottom: 10px;
}
h2 {
    color: #024276; /* Blue color representing the Thames river */
    text-align: center;
    margin-bottom: 10px;
    font-size: small;
}
h3 {
    color: #000000; /* Blue color representing the Thames river */
    text-align: center;
    margin-bottom: 10px;
    font-size: medium;
    font-weight: bold;
    font-family: Helvetica;
}
h4 {
    color: #000000; /* Blue color representing the Thames river */
    text-align: justify;
    margin-bottom: 10px;
    font-size: small;
    font-style: italic;
    font-family: Helvetica;
}
form {
    display: flex;
    flex-direction: column;
}
.ranking {
    color: #9300d7;
    text-align: left;
    margin-bottom: 10px;
    font-size: medium;
}
/* Estilos personalizados */
body {
    padding: 10px;
}
#charts {
    margin-top: 10px;
}
#charts img {
    width: 100%;
    height: auto;
}


#lista_recomendacao {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#plotly-map {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#polar-chart{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
