<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>London Form</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Arquivo CSS personalizado -->
    <link rel="stylesheet" type="text/css" href="static/formsRedirectStyles.css">
    <script>
        function goBack() {
          window.history.back()
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>WHERE TO LIVE IN LONDON</h1>
        <h2>Here are the list of affordable boroughs to live in.</h2>
        
        <script>
            const response = { responseData }
            print(response)
        </script>

    <button type="submit" class="btn btn-primary" onclick="goBack()">Back to query</button>

    </div>

</body>
</html>
