<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link para o JavaScript do Bootstrap e dependências -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>


    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
    
    
    
    <!-- Link para o JavaScript do Leaflet -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" crossorigin=""></script>

     <!-- Bootstrap CSS -->
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    
    <!-- Arquivo CSS personalizado -->
    <link rel="stylesheet" type="text/css" href="static/formsStyles.css">

    <title>London Form</title>
   
</head>
<body>
    <div class="container">
        
        <h1>AFFORDABLE PLACE TO LIVE IN LONDON</h1>
        
        
            <form id="boroughForm" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>

                
                    <div class="form-group">
                        <label for="dimPriority">Priority:</label>
                        <div id="dimPriority" class="checkbox-group" name="dimPriority" required>
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <label for="borough">Reference Borough:</label>
                        <select class="form-control" id="borough" name="borough" required>
                            <option value="" disabled selected>Choose a borough</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="dimCategoryRoom">Reference category:</label>
                        <select class="form-control" id="dimCategoryRoom" name="dimCategoryRoom" required>
                            <option value="" disabled selected>Choose a category:</option>
                        </select>
                    </div>
                   

                    <div class="form-group">
                        <label for="distance">Maximum distance from Reference:</label>
                        <input type="number" class="form-control" id="distance" name="distance" required>
                    </div>

                    <div class="form-group">
                        <label for="income">Monthly income:</label>
                        <input type="number" class="form-control" id="income" name="income" required>
                    </div>
                
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        
    </div>

     
    <script>
        // JavaScript para validação do formulário e salvar JSON e enviar via POST
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        // Validação de prioridade
                        const checkedPriorities = document.querySelectorAll('input[name="dimPriority"]:checked');
                        if (checkedPriorities.length < 2) {
                            event.preventDefault();
                            event.stopPropagation();
                            alert('Please select at least two priorities.');
                        }

                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        } else {
                            event.preventDefault(); // Impedir o envio padrão para processar os dados localmente

                            const formData = {
                                userName: document.getElementById('name').value,
                                emailAddres: document.getElementById('email').value,
                                referenceBoroughId: document.getElementById('borough').value,
                                maximumDistanceFromReference: document.getElementById('distance').value,
                                incomePerMonth: document.getElementById('income').value,
                                categoryPlace: document.getElementById('dimCategoryRoom').value,
                                priorities: Array.from(document.querySelectorAll('input[name="dimPriority"]:checked')).map(checkbox => parseInt(checkbox.value))
                            };

                            // Criar um arquivo JSON e forçar o download
                            const blob = new Blob([JSON.stringify(formData, null, 2)], { type: 'application/json' });
                            const url = URL.createObjectURL(blob);
                            const a = document.createElement('a');
                            a.href = url;
                            a.download = 'form-data.json';
                            document.body.appendChild(a);
                            a.click();
                            document.body.removeChild(a);
                            URL.revokeObjectURL(url); // Liberar o URL após o download

                            // Enviar o JSON via POST
                            fetch('http://localhost:3000/api/model/run', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(formData)
                            })
                            .then(response => response.json())
                            .then(data => {
                                console.log('Success:', data);
                                // Exibir uma mensagem de sucesso ou redirecionar, se necessário
                                alert('Formulário enviado com sucesso!');
                            })
                            .catch((error) => {
                                console.error('Error:', error);
                                alert('Erro ao enviar o formulário.');
                            });
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        // Carregar boroughs do JSON e preencher a dropdown list
        fetch('/data/boroughs')
        .then(response => response.json())
        .then(data => {
            const boroughSelect = document.getElementById('borough');
            data.forEach(borough => {
                const option = document.createElement('option');
                option.value = borough.ID;
                option.textContent = borough.name;
                boroughSelect.appendChild(option);
            });
        })
        .catch(error => console.error('Error loading boroughs:', error));

        // Carregar categories do JSON e preencher a dropdown list
        fetch('/data/dimCategoryRoom')
        .then(response => response.json())
        .then(data => {
            const dimCategoryRoomSelect = document.getElementById('dimCategoryRoom');
            data.forEach(dimCategoryRoom => {
                const option = document.createElement('option');
                option.value = dimCategoryRoom.ID;
                option.textContent = dimCategoryRoom.DS_CATEGORY;
                dimCategoryRoomSelect.appendChild(option);
            });
        })
        .catch(error => console.error('Error loading categories:', error));

        // Carregar Priorities do JSON
        fetch('/data/dimPriority')
        .then(response => response.json())
        .then(data => {
            const dimPriorityContainer = document.getElementById('dimPriority');
            data.forEach(dimPriority => {
                const div = document.createElement('div');
                div.classList.add('form-check');

                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.classList.add('form-check-input');
                checkbox.id = dimPriority.ID;
                checkbox.name = 'dimPriority';
                checkbox.value = dimPriority.ID;
                checkbox.checked = true; // Marcar todas as caixas por padrão

                const label = document.createElement('label');
                label.classList.add('form-check-label');
                label.htmlFor = dimPriority.ID;
                label.textContent = dimPriority.DS_PRIORITY;

                div.appendChild(checkbox);
                div.appendChild(label);
                dimPriorityContainer.appendChild(div);
            });
        })
        .catch(error => console.error('Erro ao carregar os dados:', error));
    </script>
</body>
</html>
